# Classify shader files as GLSL
*.vert linguist-language=GLSL
*.frag linguist-language=GLSL
*.comp linguist-language=GLSL

# Classify C++ headers correctly
*.hpp linguist-language=C++

# Exclude third-party vendored code from language stats
audio/stb_vorbis.c linguist-vendored
